<div class="edit-post-container">
    <form class="login" [formGroup]="from" (ngSubmit)="editPost()">
      <fieldset>
        <h2>Edit Post</h2>
  
        <p>
          <label for="imageUrl"
            ><span><i>ImageUrl</i></span></label
          >
          <input type="text" name="imageUrl" formControlName="imageUrl" />
        </p>
        <p>
          <label for="description"
            ><span><i>Name</i></span></label
          >
          <input type="text" name="description" formControlName="description" />
        </p>
        <div class="btn-container">

          <button class="create-post-btn">Edit</button>
          <a routerLink="/shops/{{post!.shopId}}" (click)="deletePost()" class="delete-btn">Delete</a>
        </div>
          
      </fieldset>
    </form>
  </div>
  