<div class="container">
    <form class="login" [formGroup]="from" (ngSubmit)="createShop()">
        <fieldset>
            <h2>Create Shop</h2>
            <p>
                <label for="name"><span><i> </i></span></label>
                <input 
                type="text"
                name="name"
                formControlName="name"
                >
            </p>
    
            <p>
                <label for="imageUrl"><span><i></i></span></label>
                <input 
                type="text"
                name="imageUrl"
                formControlName="imageUrl"
                >
            </p>
    
           <button>Create</button>
    
           
    
        </fieldset>
    </form>
   
</div>
