<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span>Tattoo Shops</span></p>
        </div>
        <div class="mini-navbar">
            <ul *ngIf="!isLoggedIn">
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
            </ul>
            <ul *ngIf="isLoggedIn">
                <li>
                    <a routerLink="/profile">Profile</a>
                </li>
                <li (click)="logout()">
                    <a>Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/shops">Shops</a>
            </li>
            <li *ngIf="isLoggedIn">
                <a routerLink="/create-shop">Create Shop</a>
            </li>
        </ul>
    </nav>
</header>
