<div class="container">
    <form class="login" [formGroup]="from" (ngSubmit)="createPost()">
        <fieldset>
            <h2>Create Post</h2>           
    
            <p>
                <label for="imageUrl"><span><i>ImageUrl</i></span></label>
                <input 
                type="text"
                name="imageUrl"
                formControlName="imageUrl"
                >
            </p>
            <p>
                <label for="description"><span><i>Name</i></span></label>
                <input 
                type="text"
                name="description"
                formControlName="description"
                >
            </p>
    
           <button>Create</button>
    
           
    
        </fieldset>
    </form>
   
</div>
