<div class="container">
    <fieldset>
        <h2>Login Form</h2>
        <p>
            <label for="email"><span><i> </i></span></label>
            <input 
            type="email"
            name="email"
            >
        </p>

        <p>
            <label for="password"><span><i></i></span></label>
            <input 
            type="password"
            name="password"
            >
        </p>

       <button>Login</button>

       <p>
        Dont have an account?
        <a routerLink="/register">Register</a>
       </p>

    </fieldset>
</div>
